<div>
  <%= partial 'partials/navbar' %>
</div>
<div class="main-container">
    <div class="text-container" style="margin-top: 2rem; margin-bottom: 2rem;">
      <h1 class="roboto-bold" style="color: black;"><strong>Design Gallery</strong></h1>
    </div>

    <div class="text-container" style="margin-top: 2rem; margin-bottom: 2rem;">
      <h1 class="title-main roboto text-container" style="color: black;">Tokyo Circus 2022 - Mock Zine Covers</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center image-group">
      <a href="#" class="project-image">
        <%= image_tag 'projects/2Bookmockup-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/BookMockup-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
    </div>
    <div class="d-flex justify-content-between align-items-center image-group" style="padding-top: 1rem;">
      <a href="#" class="project-image">
        <%= image_tag 'projects/Cover1-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Cover2-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Cover3-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Cover4-min.png', alt: 'TokyoCircus', class: 'image' %>
      </a>
    </div>

    <!-- NEW POSTERS SECTION -->
    <div class="text-container" style="margin-top: 2rem; margin-bottom: 2rem;">
      <h1 class="title-main roboto" style="color: black;">WPÜ Shinjuku - Room Next Door Posters</h1>
    </div>

    <div class="d-flex justify-content-between align-items-center image-group" style="padding-top: 1rem;">
      <a href="#" class="project-image">
        <%= image_tag 'projects/Poster_1-min.png', alt: 'WPÜ Shinjuku Poster 1', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Poster_2-min.png', alt: 'WPÜ Shinjuku Poster 2', class: 'image' %>
      </a>
    </div>

    <div class="d-flex justify-content-between align-items-center image-group" style="padding-top: 1rem;">
      <a href="#" class="project-image">
        <%= image_tag 'projects/Poster_3-min.png', alt: 'WPÜ Shinjuku Poster 3', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Poster_4-min.png', alt: 'WPÜ Shinjuku Poster 4', class: 'image' %>
      </a>
    </div>
    <!-- END NEW SECTION -->

    <div class="text-container" style="margin-top: 2rem; margin-bottom: 2rem;">
      <h1 class="title-main roboto" style="color: black;">Thea Zine - KAYYWHAT</h1>
    </div>
    <div class="d-flex justify-content-between align-items-center image-group" style="padding-top: 1rem;">
      <a href="#" class="project-image">
        <%= image_tag 'projects/Mock01-min.png', alt: 'TheaMag', class: 'image' %>
      </a>
      <a href="#" class="project-image">
        <%= image_tag 'projects/Mock02-min.png', alt: 'TheaMag', class: 'image' %>
      </a>
    </div>

<!-- COMBINED POSTERS & FLYERS SECTION -->
<div class="text-container" style="margin-top: 2rem; margin-bottom: 2rem;">
  <h1 class="title-main roboto" style="color: black;">Posters & Flyers</h1>
</div>

<div class="row g-4" style="padding-top: 1rem;">
  <!-- Zine Poster -->
  <div class="col-12 col-md-6 text-center">
    <h2 class="title-main roboto" style="color: black;">Zine Party</h2>
    <a href="#" class="project-image">
      <%= image_tag 'projects/Zineposter2-min.png', alt: 'Zine Party', class: 'image img-fluid' %>
    </a>
  </div>

  <!-- DAARONS X RILES -->
  <div class="col-12 col-md-6 text-center">
    <h2 class="title-main roboto" style="color: black;">DAARONS X RILES</h2>
    <a href="#" class="project-image">
      <%= image_tag 'projects/Daaronsmock-min.png', alt: 'Daarons x Riles', class: 'image img-fluid' %>
    </a>
  </div>

  <!-- FOLIA X LOVED -->
  <div class="col-12 col-md-6 text-center">
    <h2 class="title-main roboto" style="color: black;">FOLIA X LOVED</h2>
    <a href="#" class="project-image">
      <%= image_tag 'projects/Foliamockup-min.png', alt: 'Folia Flyer', class: 'image img-fluid' %>
    </a>
  </div>

  <!-- HVEN Flyer -->
  <div class="col-12 col-md-6 text-center">
    <h2 class="title-main roboto" style="color: black;">Halloween at HVEN</h2>
    <a href="#" class="project-image">
      <%= image_tag 'projects/Mockup1234-min.png', alt: 'HVEN Flyer', class: 'image img-fluid' %>
    </a>
  </div>

  <!-- Goontex Inv Card -->
  <div class="col-12 col-md-6 text-center">
    <h2 class="title-main roboto" style="color: black;">Goontex Inv Card</h2>
    <a href="#" class="project-image">
      <%= image_tag 'projects/Goon_product-min.png', alt: 'GOON Invitation', class: 'image img-fluid' %>
    </a>
  </div>
</div>
<!-- END COMBINED SECTION -->


<div class="tech-icons">
  <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
   <%= image_tag 'projects/Adobe Photoshop.svg', alt: 'Photoshop', class: 'tech-icon' %>
   <%= image_tag 'projects/Adobe Premiere Pro.svg', alt: 'PremierePro', class: 'tech-icon' %>
 </div>
 </div>
 <div>
  <%= partial 'partials/contactme' %>
 </div>
