<div>
  <%= partial 'partials/navbar' %>
</div>
<div>
  <%= partial 'partials/banner' %>
</div>

<div class="container my-5">
  <div class="card-container" style="margin-top: 1rem;">
    <div class="card-products">

      <!-- FIRST CARD -->
      <div class="card-product">
        <a href="/planstonight/" class="project-image">
          <%= image_tag 'projects/WebCoverPlan.png', alt: 'Plans Tonight', class: 'image' %>
        </a>
      </div>

      <!-- WPU CARD -->
      <div class="card-product">
        <a href="/wpu/" class="project-image">
          <%= image_tag 'projects/WPUWebCover.png', alt: 'WPU', class: 'image' %>
        </a>
      </div>

      <!-- KOLLAB CARD -->
      <div class="card-product">
        <a href="/kollab/" class="project-image">
          <%= image_tag 'projects/kollabWebCover.png', alt: 'Kollab', class: 'image' %>
        </a>
      </div>

      <!-- SUPL CARD -->
      <div class="card-product">
        <a href="/supldarkmatter/" class="project-image">
          <%= image_tag 'projects/SUPL.jpg', alt: 'SUPL', class: 'image' %>
        </a>
      </div>

      <!-- ALTERPHORM CARD -->
      <div class="card-product">
        <a href="/alterphorm/" class="project-image">
          <%= image_tag 'projects/Alterphorm-Logo.png', alt: 'Alterphorm', class: 'image' %>
        </a>
      </div>

      <!-- GALLERY CARD -->
      <div class="card-product">
        <a href="/gallery/" class="project-image">
          <%= image_tag 'projects/GALLERY.png', alt: 'Gallery', class: 'image' %>
        </a>
      </div>

    </div>
  </div>
</div>

<div>
  <%= partial 'partials/contactme' %>
</div>

<div>
  <%= partial 'partials/social' %>
</div>
