<div>
  <%= partial 'partials/navbar' %>
</div>
<div>
  <%= partial 'partials/banner' %>
</div>

<div class="container my-5">
    <h1 class="roboto-bold" style="color: white;">Recent Projects</h1>

    <div class="card-container" style="margin-top: 1rem;">
      <div class="card-products">

      <div class="card-product">
        <a href="#" class="project-image">
          <%= image_tag 'projects/Plans-Tonight-Show-1.png', alt: 'Plans Tonight', class: 'image' %>
        </a>
          <div class="card-trip-infos">
            <h3 class="roboto-regular" style="color: #031602;">Role: Lead Developer</h3>
          <p style="color: #031602">Plans Tonight reduces the headache of organising plans with friends. Based off you and your friends preferences the app chooses on a bar for you!</p>
          <p style="color: #031602">2 Weeks</p>
              <div class="tech-icons mt-3">
                <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
                <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
                <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
                <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
                <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
                <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
            </div>
        </div>
              <div class="link-container">
      <%= link_to "See More", "/planstonight.html", class: "contact-link" %>
    </div>
      </div>

<!-- Repeat for other cards with appropriate links -->

<div class="card-product">
  <a href="#" class="project-image">
    <%= image_tag 'projects/Kollab-Show-1.png', alt: 'Kollab', class: 'image' %>
  </a>
  <div class="card-trip-infos">
    <h3 class="roboto-regular" style="color: #031602">Role: Lead Developer</h3>
    <p style="color: #031602">Kollab was another project where the main focus was to create a collaborative platform. Features include real-time communication and integration with various services.</p>
    <p style="color: #031602">1 Week</p>
    <div class="tech-icons mt-3">
      <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
      <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
      <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
      <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
      <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
      <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
      <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
      <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
    </div>
    </div>
    <div class="link-container">
      <%= link_to "See More", "/kollab.html", class: "contact-link" %>
    </div>
      </div>

            <div class="card-product">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Capture211.JPG', alt: 'Alterphorm', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <h3 class="roboto-regular" style="color: #031602">Role: Lead Designer</h3>
            <p style="color: #031602">ALTERPHORM is a project inspired by certain influences that are exposed to the youth throughout life growing up in specifically but not limited to Melbourne, Australia. That is, if the youth choose to follow this path on their own will.</p>
            <p style="color: #031602">4 Weeks</p>
              <div class="tech-icons mt-3">
                <%= image_tag 'projects/AdobeIllustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
                <%= image_tag 'projects/AdobePhotoshop.svg', alt: 'AdobePhotoshop', class: 'tech-icon' %>
                <%= image_tag 'projects/AdobePremierePro.svg', alt: 'AdobePremierePro', class: 'tech-icon' %>
            </div>
            </div>
              <div class="link-container">
                <%= link_to "See More", "/alterphorm.html", class: "contact-link" %>
              </div>
      </div>

  </div>
    <div>
    <%= partial 'partials/contactme' %>
  </div>

  <div>
    <%= partial 'partials/social' %>
  </div>
