<div>
  <%= partial 'partials/navbar' %>
</div>
<div>
  <%= partial 'partials/banner' %>
</div>

<div class="container my-5">
    <h1 class="roboto-bold" style="color: white;">Recent Projects</h1>

    <div class="card-container" style="margin-top: 1rem;">
      <div class="card-products">

      <div class="card-product">
      <%= link_to "PlansTonight", "planstonight.html.erb" %>
        <a href="#" class="project-image">
          <%= image_tag 'projects/Plans-Tonight-Show-1.png', alt: 'Plans Tonight', class: 'image' %>
        </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <a class="btn btn-ghost roboto-regular" href="https://www.planstonight.lol" target="_blank" rel="noopener noreferrer">Link to</a>
              <a class="btn btn-ghost roboto-regular" href="https://www.planstonight.lol" target="_blank" rel="noopener noreferrer">Web page</a>
          </div>
        </div>
            <h3 class="roboto-regular" style="color: #031602;">Role: Lead Developer</h3>
          <p style="color: #031602">Plans Tonight reduces the headache of organising plans with friends. Based off you and your friends preferences the app chooses on a bar for you!</p>
          <p style="color: #031602">2 Weeks</p>
              <div class="tech-icons mt-3">
                <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
                <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
                <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
                <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
                <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
                <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
            </div>
        </div>
      </div>

<!-- Repeat for other cards with appropriate links -->

        <div class="card-product">
        <a href="kollab.html" class="btn btn-primary">Click Me</a>
          <a href="#" class="project-image">
            <%= image_tag 'projects/Kollab-Show-1.png', alt: 'Kollab', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                  <a class="btn btn-ghost roboto-regular" href="hhttps://kollabart-5a9192f4e8a9.herokuapp.com/" target="_blank" rel="noopener noreferrer">Link to</a>
                  <a class="btn btn-ghost roboto-regular" href="https://kollabart-5a9192f4e8a9.herokuapp.com/" target="_blank" rel="noopener noreferrer">Web Page</a>
              </div>
            </div>
            <h3 class="roboto-regular" style="color: #031602">Role: Lead Developer</h3>
            <p style="color: #031602">Kollab was another project where the main focus was to create a collaborative platform. Features include real-time communication and integration with various services.</p>
            <p style="color: #031602">1 Week</p>
              <div class="tech-icons mt-3">
                <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
                <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
                <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
                <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
                <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
                <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
                <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
            </div>
          </div>
        </div>

            <div class="card-product">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Capture211.JPG', alt: 'Alterphorm', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <a class="btn btn-ghost roboto-regular" href="https://www.kayywhat.com/alterphorm" target="_blank" rel="noopener noreferrer">Link to</a>
              <a class="btn btn-ghost roboto-regular" href="https://www.kayywhat.com/alterphorm" target="_blank" rel="noopener noreferrer">Brand</a>
            </div>
            </div>
            <h3 class="roboto-regular" style="color: #031602">Role: Lead Designer</h3>
            <p style="color: #031602">ALTERPHORM is a project inspired by certain influences that are exposed to the youth throughout life growing up in specifically but not limited to Melbourne, Australia. That is, if the youth choose to follow this path on their own will.</p>
            <p style="color: #031602">4 Weeks</p>
              <div class="tech-icons mt-3">
                <%= image_tag 'projects/AdobeIllustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
                <%= image_tag 'projects/AdobePhotoshop.svg', alt: 'AdobePhotoshop', class: 'tech-icon' %>
                <%= image_tag 'projects/AdobePremierePro.svg', alt: 'AdobePremierePro', class: 'tech-icon' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= partial 'partials/contactme' %>
  </div>

  <div>
    <%= partial 'partials/social' %>
  </div>
</div>
