<div>
  <%= partial 'partials/navbar' %>
</div>
<div>
  <%= partial 'partials/banner' %>
</div>

<div class="container my-5">
  <div id="projects">
    <h1 class="roboto-bold" style="color: white; margin-bottom: 20px;">Recent Projects</h1>

    <!-- About Section -->
    <%= partial 'partials/about' %>

    <div class="card-container">
      <div class="card-products">

        <div class="card-product">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Plans-Tonight-Show-1.png', alt: 'Plans Tonight', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <h1 class="roboto-regular" style="color: greenyellow;">Plans Tonight</h1>
              <a class="btn btn-ghost roboto-regular" href="#">Mobile App</a>
            </div>
            <h3 class="roboto-regular" style="color: #031602";>Role: Lead Developer</h3>
            <p style="color: #031602">Plans Tonight was the final project for Le Wagon Tokyo's 9-week intensive coding bootcamp. This app is designed to reduce the headache of choosing a date and time, invite friends to vote for the mood and alcohol type they prefer. Based on these choices, the app will decide on a bar for you!</p>
            <p style="color: #031602">2 Weeks</p>
          </div>
        </div>

        <div class="card-product">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Kollab-Gradient-BK.png', alt: 'Kollab', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <h1 class="roboto-regular" style="color: greenyellow;">Kollab</h1>
              <a class="btn btn-ghost roboto-regular" href="#">Web Page</a>
            </div>
            <h3 class="roboto-regular" style="color: #031602">Role: Lead Developer</h3>
            <p style="color: #031602">Kollab was another project where the main focus was to create a collaborative platform. Features include real-time communication and integration with various services.</p>
            <p style="color: #031602">1 Week</p>
          </div>
        </div>

            <div class="card-product">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Capture211.JPG', alt: 'Alterphorm', class: 'image' %>
          </a>
          <div class="card-trip-infos">
            <div class="d-flex justify-content-between align-items-center">
              <h1 class="roboto-regular" style="color: greenyellow;">Alterphorm</h1>
              <a class="btn btn-ghost roboto-regular" href="#">Brand Concept</a>
            </div>
            <h3 class="roboto-regular" style="color: #031602">Role: Lead Designer</h3>
            <p style="color: #031602">ALTERPHORM is a project inspired by certain influences that are exposed to the youth throughout life growing up in specifically but not limited to Melbourne, Australia. That is, if the youth choose to follow this path on their own will.</p>
            <p style="color: #031602">4 Weeks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
        <div>
      <%= partial 'partials/contactme' %>
    </div>

    <div>
      <%= partial 'partials/social' %>
    </div>
  </div>
</div>
