<div>
  <%= partial 'partials/navbar' %>
</div>
<div class="main-container">
<div class="container my-5">
      <div class="card-products">
      <div class="imagekollab">
      <a href="#" class="project-image">
  <%= image_tag 'projects/Kollab-Logo.png', alt: 'Kollab', class: 'imagekollab' %>
</a>
</div>

<div class="card-show">
<a href="#" class="project-image">
  <%= image_tag 'projects/Kollab-Mock-Home.png', alt: 'Kollab', class: 'image' %>
</a>
<div style="margin-bottom: 2rem;">
<h2 class="roboto-regular" style="color: white;"><strong>Kollab</strong> is a AirBnb clone for rental gallery spaces in Tokyo.</h2>
<h2 class="roboto-regular" style="color: white;">Kollab creates a <strong>collaborative platform</strong> with features such as <strong>real-time communication</strong> and <strong>integration of various services</strong>.</h2>
<ul>
  <li class="roboto-regular" style="color: white;">Browse a marketplace of available gallery spaces for rent.</li>
  <li class="roboto-regular" style="color: white;">Register your own gallerys to rent out.</li>
  <li class="roboto-regular" style="color: white;">Book a gallery you like to display your artwork.</li>
</ul>
</div>

<div class="d-flex justify-content-between align-items-center image-group">
<a href="#" class="project-image">
  <%= image_tag 'projects/Kollab-Gallery-Select.png', alt: 'Kollab', class: 'image' %>
</a>
<a href="#" class="project-image">
  <%= image_tag 'projects/Kollab-GalleryShow.png', alt: 'Kollab', class: 'image' %>
</a>
</div>
<div class="d-flex justify-content-between align-items-center image-group" style="padding-top: 1rem;">
  <a href="#" class="project-image">
    <%= image_tag 'projects/Kollab-Dashboard.png', alt: 'Kollab', class: 'image' %>
  </a>
  <a href="#" class="project-image">
    <%= image_tag 'projects/Kollab-Application.png', alt: 'Kollab', class: 'image' %>
  </a>
</div>
</div>
      <div class="tech-icons">
        <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
        <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
        <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
        <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        </div>
        <div class="tech-icons">
        <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
        <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
        <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
    </div>
              <div class="btn-group">
              <a class="btn btn-ghost roboto-regular" href="https://kollabart-5a9192f4e8a9.herokuapp.com/" target="_blank" rel="noopener noreferrer">Link to Web Page</a>
          </div>

</div>
</div>
  <div>
    <%= partial 'partials/social' %>
  </div>
</div>
