<div>
  <%= partial 'partials/navbar' %>
</div>
<div class="main-container">
<div class="container my-5">
<h1 class="roboto-bold" style="color: white;">PLANS TONIGHT </h1>
<div class="card-show">
<a href="#" class="project-image">
  <%= image_tag 'projects/Plans-Tonight-Show-1.png', alt: 'PlansTonight', class: 'image' %>
</a>
<div style="margin-bottom: 2rem;">
<h2 class="roboto-bold mt-5" style="color: white;">Features </h2>
<ul>
  <li class="roboto-regular" style="color: white;">Organize plans with a group of friends.</li>
  <li class="roboto-regular" style="color: white;">Participate in a poll to get matched with the perfect bar that fits your vibe.</li>
  <li class="roboto-regular" style="color: white;">Keep track of all your plans in one place.</li>
</ul>
</div>

<div class="d-flex justify-content-between align-items-center image-group">
<a href="#" class="project-image">
  <%= image_tag 'projects/Plans-Tonight-Show.png', alt: 'PlansTonight', class: 'image' %>
</a>
</div>
</div>
      <div class="tech-icons mt-5">
        <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
        <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
        <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
        <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        </div>
        <div class="tech-icons">
        <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
        <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
        <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
    </div>
              <div class="btn-group mt-5">
              <a class="btn btn-ghost roboto-regular" href="https://www.planstonight.lol/users/sign_in" target="_blank" rel="noopener noreferrer">Link to Web Page</a>
          </div>
          </div>

  <div>
    <%= partial 'partials/social' %>
  </div>
</div>
