<div>
  <%= partial 'partials/navbar' %>
</div>
<div class="main-container1">
  <div class="container my-5">
    <%# <div class="card-show"> %>
      <div class="image-group-container1">
        <div class="project-image-group1">
          <a href="#" class="project-image">
            <%= image_tag 'projects/Plans-Tonight-Show-1.png', alt: 'PlansTonight', class: 'image', style: 'border-radius: 25px;' %>
              </a>
                  <div style="margin-top: 2rem; margin-bottom: 1rem;">
                    <h2 class="roboto-regular" style="color: white;"><strong>Plans Tonight</strong> reduces the <strong>headache of organising plans</strong>. Based off you and your friend's <strong>preferences</strong> the app <strong>chooses a bar for you!</strong></h2>
                  </div>
              <a href="#" class="project-image" style="margin-top: 1rem;">
                <%= image_tag 'projects/Plans-Tonight-Show.png', alt: 'PlansTonight', class: 'image', style: 'border-radius: 25px;' %>
              </a>
            </div>
          </div>

    <div class="image-group-container1" style="margin-top: 2rem;">
      <div class="project-image-group1">
        <a href="#" class="project-image1">
          <%= image_tag 'projects/Plans-Tonight-Home.png', alt: 'Solution', class: 'image' %>
        </a>
        <a href="#" class="project-image1">
          <%= image_tag 'projects/Plans-Tonight-MakePlans2.png', alt: 'Solution', class: 'image' %>
        </a>
        <a href="#" class="project-image1">
          <%= image_tag 'projects/Plans-Tonight-YourPlansTonight-fix.png', alt: 'Solution', class: 'image' %>
        </a>
      </div>
    </div>
    <div class="project-image-group1" style="margin-top: 2rem;">
      <a href="#" class="project-image2">
        <%= image_tag 'projects/Plans-Tonight-InviteFriends.png', alt: 'Solution', class: 'image' %>
      </a>
      <a href="#" class="project-image2">
        <%= image_tag 'projects/Plans-Tonight-UpcomingPlans.png', alt: 'Solution', class: 'image' %>
      </a>
      <a href="#" class="project-image2">
        <%= image_tag 'projects/Plans-Tonight-FinalResults.png', alt: 'Solution', class: 'image' %>
      </a>
      <a href="#" class="project-image2">
        <%= image_tag 'projects/Plans-Tonight-404.png', alt: 'Solution', class: 'image' %>
      </a>
    </div>
      <div style="margin-top: 2rem;">
      <h1 class="roboto-bold" style="color: white;">Key Features:</h1>
      </div>
      <div style="margin-top: 2rem;">
      <h2 class="roboto-bold" style="color: white;">Group Plan Organization:</h2>
      <p class="roboto-regular" style="color: white;">Users can create and manage group plans, eliminating the hassle of back-and-forth messaging to find a location and time. Plans are all stored in one place, giving everyone in the group access to important details about the event.</p>
      <h2 class="roboto-bold" style="color: white;">Preference-Based Bar Matching:</h2>

      <p class="roboto-regular" style="color: white;">A standout feature of Plans Tonight is its ability to match users with the perfect bar based on group preferences. Participants fill out a quick poll to define their vibe and atmosphere preferences (e.g., quiet, lively, or casual), and the app matches the group to a venue that fits those criteria.</p>

      <h2 class="roboto-bold" style="color: white;">Poll and Decision System:</h2>

      <p class="roboto-regular" style="color: white;">To further simplify decision-making, the app incorporates a polling system where group members vote on their preferences. The app then intelligently selects a venue that suits the majority, reducing conflict and ensuring a great time for all involved.</p>

      <h2 class="roboto-bold" style="color: white;">Track and Manage Plans:</h2>


      <p class="roboto-regular" style="color: white;">Users can keep track of all upcoming plans within the app, making it easy to manage multiple events at once. Whether it’s a casual meetup or a special event, Plans Tonight centralizes all the details and helps ensure that everyone stays on the same page.</p>


      <p class="roboto-regular" style="color: white;">By addressing common pain points in organizing group outings, Plans Tonight enhances the social experience, ensuring that everyone enjoys a seamless and enjoyable night out. This app is perfect for busy individuals who want to spend less time coordinating and more time having fun.</p>
      </div>

  </div>
    <div class="tech-icons mt-3">
      <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
      <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
      <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
      <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
      <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
      <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
      <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
      <%= image_tag 'projects/AdobeIllustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
      <%= image_tag 'projects/AdobePhotoshop.svg', alt: 'AdobePhotoshop', class: 'tech-icon' %>
      <%= image_tag 'projects/AdobePremierePro.svg', alt: 'AdobePremierePro', class: 'tech-icon' %>
    </div>
    <div class="btn-group1 mt-5">
        <a class="btn1 btn-ghost roboto-regular" style="display: flex; justify-content: center; align-items: center; text-decoration: none;" href="https://www.planstonight.lol/users/sign_in" target="_blank" rel="noopener noreferrer">Link to App</a>
    </div>
  </div>
  <div>
    <%= partial 'partials/social' %>
  </div>
</div>
