<div>
  <%= partial 'partials/navbar' %>
</div>
<div>
    <a href="#" class="project-image">
      <%= image_tag 'projects/SUPL.jpg', alt: 'SUPL', class: 'image' %>
    </a>
</div>
<div class="main-container">
<div class="container my-5">
  <h1 class="roboto-bold" style="color: white;"> SUPL</h1>
  <h4 class="roboto-regular" style="color: white;"> As the boundaries of physics knowledge are pushed further into the unknown, the Stawell Underground Physics Lab (SUPL) aims to tackle one of the greatest mysteries currently perplexing modern science. Dark Matter. The aptly named substance is shrouded in darkness with very little understood about its nature and role in the universe. In fact, one of the only things we know for certain is that it exists! So to shed light on this fickle particle, the SUPL team aims to join the search with their underground lab being constructed in the goldmines 1km below Stawell, Victoria. This is to ensure the reduction of interference by cosmic rays in the linear accelerator and other instruments that will be employed in the hunt for the elusive dark matter particle.
The construction of the lab utilises the cutting-edge of 21st century mining technology, shaping the decommissioned gold mines of Stawell into the first (and one of the most advanced) laboratories in the southern hemisphere.
</h4>
  <h1 class="roboto-bold" style="color: white;"> Problem Define</h1>
  <h4 class="roboto-regular" style="color: white;"> The Dark Matter Discovery Centre (working title for the SUPL visitor centre) will be a showcase of not only the frontiers of particle physics and dark matter research, but will also demonstrate the operations of the laboratory and mining technology used in the construction deep underground. To achieve this, the centre will require the immersion for visitors to feel as though they had travelled into the depths to visit the lab themselves.
The solutions to convey immersion, wonder and curiosity are hoped to be based around technologies including VR/AR, 3D movies, and any other emerging tech that promotes interactivity. On top of this, it is important to hold relevance and value to repeat customers as progress in the field and time gives rise to new opportunities and information. And finally, the concepts and prototypes devised will need to fall into the realm of the three pillars of design thinking: desirability in the customer base, feasibility in the application of the design, and viability in the business model.
</h4>
  <h1 class="roboto-bold" style="color: white;"> <strong>Research</strong></h1>
  <h1 class="roboto-bold" style="color: white;"> Initial Research</h1>
  <h4 class="roboto-regular" style="color: white;">To begin our dive into the project, we first explored the overarching themes that feature in the brief and final design. This would allow us to devise a systematic approach to our ideation and further research to target the core aspects of a complete and successful final design. Through discussion and problem definition, our initial perceptions found that there were several main threads of research that would serve as an effective baseline: immersive technologies like VR/AR, customer experience - particularly those found in museums and visitor centres, education methods in order to promote curiosity, and finally the general topics that will feature in the visitor centre like science, particle physics, and mining technologies.</h4>

  <h1 class="roboto-bold" style="color: white;"> <strong>Immersive Technologies</strong></h1>
  <h4 class="roboto-regular" style="color: white;">With only a few of the team members having previous experience with immersive technologies like  VR and AR (and limited at that), it was both interesting and beneficial to take a look into the possibilities and applications in the field. Finding its roots and widespread adoption in the gaming and computer entertainment world, VR has begun to expand into more practical applications through military, medical, business, and - most pertinently - the education systems (Kamińska et al., 2019). Classical education has found deficiencies in the ability to deliver knowledge through the ‘show and tell’ format that fall short when approaching subjects with intrinsic complexity and depth like the sciences, art and design (Kamińska et al., 2019). VR solves some of these issues by introducing a new dimension of interactivity and spatial learning possibilities that can present information in a far more natural and effective way. On top of this, personalisation of experiences in VR allows for the fine-tuning of the learning process for individuals, promoting flexibility and engagement (Cipresso, 2018).
AR is the newer technology that aims to integrate virtual elements into real-world perception and interaction in real-time (Azuma, 2001). It holds many of the benefits that VR presents in education, training, and entertainment, however AR forgoes the flexibility of virtual worlds in exchange for the enhancement (or augmentation) of the physical world through the stimulus of the senses that we usually experience it with. This is commonly done by digital projection for visual augmentation, haptic feedback for touch, auditory integration, and even sometimes olfactory stimulation (Cipresso, 2018).
The crossover between entertainment and education falls in line perfectly with the purpose of the visitor centre where information is being supplied that must be engaging, interesting, and memorable. These applications are already being recognized with an innumerable number of startups building upon these ideas to supply schools and education providers the tools to employ immersive technologies into curriculum (Marr, 2020), with the growth and sophistication to explode in coming years. Whether it is simulation, training, or socialisation, immersive technologies will be at the forefront of learning in the very near future.</h4>

  <h1 class="roboto-bold" style="color: white;"><strong>Customer Experience</strong></h1>
  <h4 class="roboto-regular" style="color: white;">Nowadays, customer experience is everything, and this run of the show applies to online brands. Businesses of all sizes, in all businesses, are endeavouring to progress the client encounter. Numerous are looking to thrust the envelope in order to stand out from their competitors, giving uncommon customer experience through VR and AR advances or by improving products via product configurators.
Customer experience management is a key component of the Customer First strategy because it demonstrates a clear investment in customer needs. By monitoring and improving the various touch points along the customer journey,this will help the center to attract the visitors to come and visit the center.
To give insight into customer experience, we identified some existing solutions around the world that could give us a framework to maximise the effectiveness of not only the centre and its offerings, but how the customer/user will interact and find memorable experiences throughout. Moreover, among the most important experience methods that have been provided in the center and technologies,  VR/AR, 3D movies, and any other emerging tech that promotes interactivity It is very important to maintain the importance and value of repeat customers, as progress in this field over time helps to obtain new opportunities and information.
Education and Engagement
At the core of the discovery centre and SUPL there is the passion and craving for knowledge that drives the search for Dark Matter and physics. To educate and share this passion with the visitors, the centre must utilise methods and techniques of education and entertainment that engage and inspire. There are four perspectives of engagement that assist in the delivery of information (Zepke, 2010), which include: motivation and agency (enhancing self-belief and learning relationships), transactional engagement (interaction between student and teacher/mode of teaching, i.e. collaboration), support (environment conducive to learning), and active citizenship (participation and sense of ownership).
Motivation is best achieved through intrinsic regulation (Saeed, 2012), where the main driver is interest, enjoyment, and satisfaction. One of the most effective avenues to achieve this is through educational games (Selvi, 2018) as the feedback and framing of information is actively pursued by the student. Collaboration helps learning by developing higher-level thinking and perceptions of a topic, increases retention, and exposes students to a wider range of perspectives, solidifying concepts (Chandra, 2015). In the context of museums and the discovery centre, interactivity is “increasingly seen as essential in the learning environment” along with the ability to safely explore and be curious (Andre, 2017).
We have identified the potential for immersive technologies to be used in education (Kamińska et al., 2019), and from this research we have highlighted several aspects that are key to ensuring an effective learning experience while maintaining engagement and entertainment. Therefore, our solution would benefit greatly from incorporating games, collaboration and interactivity into its components. </h4>

<h1 class="roboto-bold" style="color: white;"><strong>Dark Matter, Physics and Mining Tech</strong></h1>
  <h4 class="roboto-regular" style="color: white;">Dark matter is the most dominant form of matter in the universe, accounting for 27% of the total mass of the universe (Peter, 2012), with 5% being standard matter (baryons) that we are familiar with, and approximately 68% for dark energy (an equally mysterious subject of physics). The nature of this matter is wholly unknown as it is non-interactive with radiation or baryonic matter, lending the ‘dark’ to the title. In recent decades, the problem of dark matter identification has shifted to astroparticle and particle physics, with experiments being performed in particle accelerators.
There are several theorised sources of dark matter, including the possibility that it is everyday baryonic matter that is tied up in difficult-to-see brown dwarf stars or dense objects, together known as Massive Compact Halo Objects (“MACHOs”). However the most promising and likely explanation at this stage is in WIMPs (Weakly Interacting Massive Particles) that are extremely difficult to detect, but extremely massive (NASA.com, 2021).
Building SUPL 1km below the surface of Stawell requires some of the most modern and innovative mining technologies. A trillion dollar industry, mining is pivotal in the world economy, supplying the raw resources to almost every industry directly or indirectly (Statista.com, 2021). Australia itself has mining as its largest industry, and as such invests in technologies to maintain innovation to improve efficiency, cost and environmental/social impacts (Sanchez, 2020). The current tech trends in the industry incorporate 3D printing, metal additives, and remote tracking (Mining-Technology.com, 2021).</h4>
</h4>
  <h2 class="roboto-regular" style="color: white;"> Benchmarching</h2>
  <h2 class="roboto-regular" style="color: white;"> User research</h2>
  <h2 class="roboto-regular" style="color: white;"> Insights</h2>
  <h2 class="roboto-regular" style="color: white;"> Persona</h2>
  <h2 class="roboto-regular" style="color: white;"> How might we</h2>
  <h2 class="roboto-regular" style="color: white;"> Lotus</h2>
  <h2 class="roboto-regular" style="color: white;"> Prototyping</h2>
  <h1 class="roboto-regular" style="color: white;"> Layout </h1>
  <h1 class="roboto-regular" style="color: white;"> Smartphone app </h1>
  <h1 class="roboto-regular" style="color: white;"> Website community hub </h1>
  <h1 class="roboto-regular" style="color: white;"> AR Helemet </h1>
</div>
      <div class="tech-icons mt-5">
        <%= image_tag 'projects/HTML5.svg', alt: 'HTML5', class: 'tech-icon' %>
        <%= image_tag 'projects/CSS3.svg', alt: 'CSS3', class: 'tech-icon' %>
        <%= image_tag 'projects/JavaScript.svg', alt: 'JavaScript', class: 'tech-icon' %>
        <%= image_tag 'projects/RubyonRails.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        <%= image_tag 'projects/Ruby.svg', alt: 'Ruby on Rails', class: 'tech-icon' %>
        </div>
        <div class="tech-icons">
        <%= image_tag 'projects/Adobe Illustrator.svg', alt: 'Illustrator', class: 'tech-icon' %>
        <%= image_tag 'projects/Figma.svg', alt: 'Figma', class: 'tech-icon' %>
        <%= image_tag 'projects/Bootstrap.svg', alt: 'Bootstrap', class: 'tech-icon' %>
    </div>
              <div class="btn-group mt-5">
              <a class="btn btn-ghost roboto-regular" href="https://www.planstonight.lol/users/sign_in" target="_blank" rel="noopener noreferrer">Link to App</a>
          </div>
          </div>

  <div>
    <%= partial 'partials/social' %>
  </div>
</div>
