<div>
  <%= partial 'partials/navbar' %>
</div>

<div id="wpuCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 2rem; background-color: black; padding: 1rem 0;">
  <div class="carousel-inner text-center">

    <div class="carousel-item active">
      <%= image_tag "projects/Wpu_Pitch1.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch2.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch3.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch4.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch5.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch6.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch7.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch8.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch9.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch_1.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch11.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch12.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch13.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "projects/Wpu_Pitch14.png", class: "d-block mx-auto", style: "width: 100%; max-height: 90vh; object-fit: contain;" %>
    </div>

  </div>

  <!-- Default Bootstrap Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#wpuCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#wpuCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <%= partial 'partials/contactme' %>
</div>
